<h1 style="color: #3A387A;">Edit Eveniment</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', post_path %>

<!--<h3>Edit eveniment</h3>
<%= form_for :post, url: posts_path(@post), method: :patch  do |f| %>
  <p>
    <%= f.label :Titlu %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
--!>
