
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
<!-- Automatic Slideshow Images -->


<div class="mySlides center">
  <!--<img src="12787606_586331544866652_1762183644_o.jpg" style="width:100%">-->
  <%= image_tag('12787606_586331544866652_1762183644_o.jpg',style: 'width:100%; height:700px')%>
  <div class="bottommiddle text-white ">
    <h3>Los Angeles</h3>
    <p><b>We had the best time playing at Venice Beach!</b></p>
  </div>
</div>
<div class="mySlides center">
  <%= image_tag('aa.jpg',style: 'width:100%; height:700px')%>
  <div class="bottommiddle text-white">
    <h3>New York</h3>
    <p><b>The atmosphere in New York is lorem ipsum.</b></p>
  </div>
</div>
<div class="mySlides w3-display-container w3-center">
  <%= image_tag('aaa.JPG',style: 'width:100%;height:700px')%>
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    <h3>Chicago</h3>
    <p><b>Thank you, Chicago - A night we won't forget.</b></p>
  </div>
</div>
</div>



  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="width:1000px">
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
      <h2 class="w3-wide w3-center">Evenimente Nedeea Valceana</h2>

        <% @posts.each do |post| %>

          <div class="w3-third w3-margin-bottom">
            <%= image_tag("/assets/#{post.id}.jpg",style: "width:100% ; height:180px")%>
            <div class="w3-container w3-white" style="height: 550px; margin-bottom: 25px">

            <br>
              <br>
            <strong>
              <a href="/posts/<%=post.id%>">
                <%=post.title%></a></strong>
            <br>
            <h8>
              <%= post.start_time.to_time.strftime('%e %B, %l:%M %p') %>
                -
              <%= post.end_time.to_time.strftime(' %B %e, %l:%M %p') %> </h8>
              <br>
            <br>
            <%= post.text.lines.first %>
            <br>
            <%= link_to 'Citeste mai mult', post_path(post) %>
            <br>
              <% if user_signed_in? %>
                  <% unless post.participating?(current_user) %>
                      <%= link_to "Join", join_path(post) %> |
                  <% end %>
                  <% if post.participating?(current_user) %>
                      <br>
                      Esti deja interesat de acest eveniment. vezi
                      <%= link_to "Evenimentele mele", myparticipations_path %>
                  <% end %>
            <br><br><br>

           <% end %>
            </div>
          </div>

<% end %>

      </div>
     </div>
  </div>