<!DOCTYPE html>
<html>
  <head>
    <title>Proiect RoR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #EEEEEE;">
  
    <%= yield %>
     
     <% if user_signed_in? %>
        <li>
       <br>
       <br>
       <h4 style=" float: right; margin: 30px">
       <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </h4>       
       </li>
    <% else %>
       <li>
       <br>
       <br><h4  style=" float: right; ">
       <%= link_to('Login', new_user_session_path)  %> </h4> 
       </li>
    <% end %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
